#map {
    width: 1455px;
    height: 570px;
    padding-left: 110px;
    padding-top: 40px;
}






#closed {
    width: 57px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 89px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#outside {
    width: 68px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 100px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.parkings {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 120px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}




.bold {
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 56px;

    position: absolute;
    width: 1572px;
    height: 78px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.06);

}

.formstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 52px;

    position: absolute;
    /* width: 350px; */
    height: 506px;
    left: 700px;
    top: 158px;
}

.labels {
    position: relative;
    width: 121px;
    height: 24px;
    left: 90px;
    padding-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */


    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 350px;
    height: 430px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

label {
    width: 350px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Typography/Body */

    color: #3E3E3E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

input {
    /* Input Field */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px;
    gap: 7px;
    width: 350px;
    height: 54px;

    background: #FFFFFF;
    /* Grey */

    border: 1px solid #D7D7D7;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

button {
    /* Button */


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    border-color: #3e3e3e00;
    /* identical to box height, or 24px */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    order: 1;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 8px;

    width: 350px;
    height: 52px;

    background: #5E81F4;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
button:hover {
    /* Button */

    width: 156px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    border-color: #3e3e3e00;
    /* identical to box height, or 24px */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 8px;

    width: 350px;
    height: 52px;

    background: #5474DF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
button:focus {
    /* Button */

    width: 156px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    border-color: #3e3e3e00;
    /* identical to box height, or 24px */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 8px;

    width: 350px;
    height: 52px;

    background: #4B68CA;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.fram3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 350px;
    height: 86px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fram4 {
    /* 4 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 350px;
    height: 86px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.fram5 {
    /* 5 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 350px;
    height: 86px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fram45 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 350px;
    height: 226px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 250px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.text {
    width: 139px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Typography/Body */

    color: #3E3E3E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.linked {
    width: 46px;
    height: 24px;
    position: relative;
    left: 130px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #5E81F4;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 46px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.labels1 {
    position: relative;
    width: 121px;
    height: 24px;
    left: 130px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */


    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame29 {
    position: relative;
    left: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 318px;
    height: 44px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame25 {
    /* width: 198px; */
    /* height: 19px; */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    /* line-height: 19px; */
    /* identical to box height */

    text-align: center;

    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_exit {
    box-sizing: border-box;
    background-color: white;
    color: #3E4958;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 96px;
    height: 44px;

    border: 0.5px solid #3E4958;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.button_exit:hover {
    box-sizing: border-box;
    background-color: #DBDBFE;
    color: #3E4958;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 96px;
    height: 44px;

    border: 0.5px solid #3E4958;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.button_exit:focus {
    box-sizing: border-box;
    background-color: #5E81F4;
    color: #ffffff;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 96px;
    height: 44px;

    border: 0.5px solid #3E4958;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#filter {
    display: flex;
    margin-left:110px;
    margin-top:160px;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 89px;

    width: 1400px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
#filter2 {
    display: flex;
    margin-left:110px;
    margin-top:60px;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 89px;

    width: 1400px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame46619 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 991px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frames3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 450px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texted {
    /* Введите район, улицу или адрес парковки */


    width: 440px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Typography/Body */

    color: #3E3E3E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#district {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px;
    gap: 7px;

    width: 440px;
    height: 54px;

    background: #FFFFFF;
    /* Grey */

    border: 1px solid #D7D7D7;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.parkings {
    /* Frame 46611 */


    /* Auto layout */
    /* position: relative;
    left: -390px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 120px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texteds {
    /* Тип парковки */


    width: 150px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Typography/Body */

    color: #3E3E3E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 100px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.option1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 89px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.option2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 100px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#closed {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#outside {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lebeles {
    width: 100px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame46612 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 311px;
    height: 96px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.distance {
    width: 150px;
    height: 24px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Typography/Body */

    color: #3E3E3E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame46602 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 311px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

output {
    box-sizing: border-box;

    /* Auto layout */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px;
    gap: 7px;

    width: 84px;
    height: 54px;

    background: #FFFFFF;
    /* Grey */

    border: 1px solid #D7D7D7;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#buttonfind {
    box-sizing: border-box;
    padding-left: 15px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px 14px 24px;
    gap: 8px;

    width: 320px;
    height: 54px;
    position: relative;
    margin-top: -45px;
    left: 1150px;
    background: #5E81F4;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
}
#buttonfind:hover {
    box-sizing: border-box;
    padding-left: 15px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px 14px 24px;
    gap: 8px;

    width: 320px;
    height: 54px;
    position: relative;
    margin-top: -45px;
    left: 1150px;
    background: #5474DF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
}
#buttonfind:focus {
    box-sizing: border-box;
    padding-left: 15px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px 14px 24px;
    gap: 8px;

    width: 320px;
    height: 54px;
    position: relative;
    margin-top: -45px;
    left: 1150px;
    background: #4B68CA;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
}

#footer1 {
    /* Frame 46623 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 375px 16px;
    gap: 16px;

    position: absolute;
    width: 940px;
    height: 188px;
    left: 0px;
    top: 892px;

    /* BG / tooltip */

    background: #343649
}
#footer2 {
    /* Frame 46623 */


    /* Auto layout */
    margin-top:150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 375px 16px;
    gap: 16px;

    position: absolute;
    width: 940px;
    height: 188px;
    left: 0px;
    top: 892px;

    /* BG / tooltip */

    background: #343649
}

.frame46624 {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    width: 950px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame1419 {
    /* Frame 1419 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 210px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.parking777 {
    width: 210px;
    height: 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    letter-spacing: 0.2px;
    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Text / Contrast */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#link1 {
    width: 350px;
    height: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Text / Thirdary */

    color: #D2D4E6;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#link2 {
    width: 350px;
    height: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Text / Thirdary */

    color: #D2D4E6;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

hr {
    width: 940px;
    height: 0px;

    opacity: 0.2;
    /* Border / Primary */

    border: 1px solid #EAEBEB;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame46625 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 1160px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.maxim {
    width: 119px;
    height: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    margin-left:105px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Text/Thirdary */

    color: #D2D4E6;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame1438 {
    /* Frame 1438 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 207.63px;
    height: 16.5px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#telegram {
    width: 16px;
    height: 13.54px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#vk {

    width: 16.84px;
    height: 10px;

    /* Text / Secondary */

    background: #6D859E;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
#git {

    width: 16.84px;
    height: 10px;

    /* Text / Secondary */

    background: #6D859E;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.showplace {
    /* Button */
    /* Auto layout */
    position:relative;
    margin-top:160px;
    margin-left:110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;

    width: 1400px;
    height: 56px;

    background: #DEDFFF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame46617 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;

    width: 699px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.place {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.litering {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 8px;

    width: 667px;
    height: 23px;
    font-family: 'Roboto', sans-serif;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}